.deadStudentCard {
  width: 8rem;
  background-color: rgb(155, 155, 155);
}
.deadStudenttitle {
  font-size: 12px;
  color: #111;
  font-weight: bolder;
}

.deadStudentText {
  font-size: 8px;
  color: azure;
  background-color: #111;
}
