@import url('https://fonts.googleapis.com/css?family=Bad+Script');

.App {
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('https://thumbs.gfycat.com/AgonizingDecisiveBullmastiff-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: rgb(32, 43, 47);
}

/* *** Start css for H1 and the Click Feed *** */

h1 {
  font-family: 'Bad Script';
  margin: 0;
  padding: 15px;
  color: #f32121;
  font-size: 2rem;
  background: #111;
  font-weight: bolder;
  text-align: center;
}

h1 span{
  margin: 0;
  padding: 0;
  text-align: center;
  animation: animate 2s linear infinite;
}
/*
h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.25s;
}

h1 span:nth-child(3) {
  animation-delay: 0.5s;
}

h1 span:nth-child(4) {
  animation-delay: 0.75s;
}

h1 span:nth-child(5) {
  animation-delay: 1s;
}

h1 span:nth-child(6) {
  animation-delay: 1.25s;
}

h1 span:nth-child(7) {
  animation-delay: 1.5s;
}

h1 span:nth-child(8) {
  animation-delay: 1.75s;
}

h1 span:nth-child(9) {
  animation-delay: 2s;
}

h1 span:nth-child(10) {
  animation-delay: 2.25s;
}

h1 span:nth-child(11) {
  animation-delay: 2.5s;
}
*/
@keyframes animate {
  0% {
    color: #f32121;
    filter: blur(2px);
    /*
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 400px #00b3ff,
                0 0 500px #00b3ff,
                0 0 600px #00b3ff,
                0 0 700px #00b3ff;
    */
  }
  100% {
    color: #f32121;
    filter: blur(2px);
    /*
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 400px #00b3ff,
                0 0 500px #00b3ff,
                0 0 600px #00b3ff,
                0 0 700px #00b3ff;
    */
  }
  70% {
    color: #111;
    filter: blur(0px);
    /* text-shadow: none; */
  }
  99% {
    color: #111;
    filter: blur(0px);
    /* text-shadow: none; */
  }  
}

/*
app_attackBtn
.attach_span
*/

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #f32121;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.5s;
  /* -webkit-box-reflect: below 1px linear-gradient(
    transparent, #0005); */
}

a:nth-child(1) {
  filter: hue-rotate(290deg);
}

a:hover {
  color: #255784;
  background: #f32121;
  box-shadow: 0 0 5px #f32121,
              0 0 25px #f32121,
              0 0 50px #f32121,
              0 0 200px #f32121;
  text-decoration: none;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f32121);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f32121);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f32121);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f32121);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: 100%;
  }
  100% {
    bottom: 100%;
  }
}

.container1 {
  position: absolute;
  top: 190px;
}

.shapFont {
  position: absolute;
  font-size: 140px;
  top: 20px;
  left: 50px;
}

.app_message {
  position: absolute;
  font-size: 180px;
  top: 20px;
}

.centered {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWRRCcb9anIQI8ye2fMKL9Ux9lbpi8hvz4gUvBW573RIsB7Q7D&s');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
}

.centered:hover {
  color: rgb(253, 0, 0);
}

.app_logo1 {
  opacity: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app_h2 {
  color: rgb(179, 13, 13);
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-weight: bolder;
  background-image: url('https://img2.fonwall.ru/o/yp/backgrounds-ocean-textures-tiles.jpeg');
}
/* background-color: rgb(0, 97, 189); */

.header_div {
  justify-content: center;
  text-align: center;
  position: sticky;
}
